@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

main {
  min-width: 990px;
  width: 100%;
  height: 606px;
  background-color: #215A6B;
  /* padding: 70px 80px; */
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  top: 40%;
  max-width: 763px;
  width: 100%;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: #fff;
  transform: translateY(-50%);
  z-index: 0;
}

.timeline-item {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #00bfa5;
  border: 2px solid #215A6B;
  border-radius: 50%;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
}

.timeline li:nth-child(1) {
  background-color: #215A6B;
  border: 5px solid #00bfa5;
  width: 18px;
  height: 18px;
}

.timeline li:nth-child(6) {
  background-color: transparent;
  border: none;
  position: relative;
  width: auto;
}

.timeline li:nth-child(6)::after {
  content: url('./chevron.svg'); 
  position: absolute;
  top: 3px;
  right: -8px;
  transform: translateY(-50%);
  color: white;
  width: 10px;
  height: 16px;
}

.timeline li:nth-child(5)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  border-top: 3px dotted #215A6B;
  transform: translateY(-50%);
  padding-right: 200px;
}

.timeline-item p {
  font-size: 14px;
  color: #fff;
  opacity: 60%;
  position: absolute;
  text-align: center;
  min-width: 90px;
  width: 100%;
}

.card {
  width: 130px;
  height: auto;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #173F4B;
  text-align: center;
  position: relative;
}


.card-one::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 40%;
  border-width: 10px;
  border-style: solid;
  border-color: #173F4B transparent transparent transparent;
}

.card-one::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 48%;
  transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #3C7F90;
}

.card img {
  width: 100%;
  border-radius: 4px;
}

.label {
  padding: 10px 0;
}

